@using ShopForPerts.ViewModels


@using ShopForPerts.Data.Models



<h1>Весь функционал</h1>

<div class="row mt-5 mb-2">




    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/Product/AddOrEdit">Продукты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/Order/AddOrEdit">Заказы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/OrderEnd/Index">Законченные заказы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/Account/AddOrEdit">Пользователи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/EndOfShift/AddOrEdit">Закрытие</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/ChartWork/Index">График работы</a>
    </li>
  
  




</div>

