@using ShopForPerts.ViewModels


@using ShopForPerts.Data.Models


<h1>Весь функционал</h1>

<div class="row mt-5 mb-2">




    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/Seller/AddOrEdit">Продавцы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/EndOfShift/Index">Закрытые смены</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/OrderEnd/Index">Законченные заказы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/Account/AddOrEdit">Пользователи</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link  btn btn-secondary" href="/EndOfShift/RefundDays">Дни возвртатов</a>
    </li>





</div>